body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}
.top-section{
    background-color: #1F2937;
    padding: 0 300px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 80px;
}
.header-logo{
    font-size: 24px;
    font-weight:900; 
    color: white;
}
.header-text{
    font-size: 18px;
    color:#E5E7EB;
}
.header-links{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 0px;
    gap: 15px;
}
.signup-header{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    margin-bottom: 8px;
}
.signup-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}
.signup{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 25px;
    border: none;
    text-decoration: none;
}
.signup-block{
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-between;
}
.signup-pg{
    width: 600px;
}
.signup-img{
    width: 600px;
}
.randInfo{
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.randominfo-block{
    display: flex;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    justify-content: space-between;
}
.info-img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 5px solid #3882F6;
    margin-bottom: 5px;
}
.info{
    width: 210px;
    text-align: center;
    font-size: 18px;
    color: #606674;
}
.inspiring-block{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 150px 400px
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}
.author{
   font-size: 25px;
    text-align: right;
    margin-top: 30px;
    font-weight: 550;
}
.CTA-block{
    background-color: #3882F6;
    display: flex;
    margin: 50px 400px;
    padding: 40px 50px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}
.CTA-header{
    color: white;
    font-weight: 600;
}
.CTA-info{
    display: flex;
}
.CTA-text{
    color: white;
    font-weight: 100;
}
.signup2{
    font-size: 20px;
    padding: 5px 30px;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 5px;
}
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 400px;
}
.footer-text{
    color: rgb(178, 172, 172);

}