body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}
.top-section{
    background-color: #1F2937;
    padding: 0 300px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 80px;
}
.header-logo{
    font-size: 24px;
    font-weight:900; 
    color: white;
}
.header-text{
    font-size: 18px;
    color:#E5E7EB;
}
.header-links{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 0px;
    gap: 15px;
}
.signup-header{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    margin-bottom: 8px;
}
.signup-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}
.signup{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 25px;
    border: none;
    text-decoration: none;
}
.signup-block{
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-between;
}
.signup-pg{
    width: 600px;

}
img{
    width: 600px;
}